.row {
    margin-left: 20px;
    color: white;
  }
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2%;
  }
  .row__poster::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster {
    object-fit: contain;
    width: 150px;
    max-height: 100px;
    margin-right: 6px;
    transform: 10ms;
  }
  
  .row__poster:hover {
    transform: scale(1.18);
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  .row__posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
  }